<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
    content="width=device-width, initial-scale=1.0">

    <title>Menu</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='menu.css') }}">

</head>

<body>
    
<div class="veg-btn">
    <a href="/veg">
        <button>VEG FOOD</button>
    </a>
</div>

<div class="non-btn">
    <a href="/nonveg">
        <button>NON-VEG FOOD</button>
    </a>
</div>

<div class="fav">

    <p>CHOOSE YOUR FAVOURITE..</p>

</div>

</body>

</html>